*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    /* background-color: aqua; */

}
header{
    /* width: 100vw; */
    height: 100vh;
    background-image: url('../bakery website pictures/home picture/image 1.png');
    background-size: cover; /* Ensures the image covers the entire header */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat;

}
.container{
    padding-left: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 550px;
}
ul li a{
    text-decoration: none;
    list-style: none;
    color: rgb(255, 255, 255);

}

nav{
    /* background-color: blue; */
    display: flex;
    padding-top: 20px;
    gap: 100px;
    font-family: 'Poppins';
}
.nav_liks{
    list-style: none;
    width: 500px; ;
    display: flex;
    /* background-color: blueviolet; */
    align-items: center;
    font-size: 20px;
    justify-content: space-around;
}
header p:last-of-type{
    /* background-color: red; */
    color: white;
    width: 450px;
    font-size: 70px;
    font-weight: 800;
    font-family: 'Sansita Swashed';
}
header p:first-of-type{
    /* background-color: rgb(32, 221, 70); */
    color: #E9BD8C;
    width: 300px;
    font-size: 27px;
    font-weight: 500;
    font-family: 'Inter';
}
.h_bottoms button:first-child{
    background-color: #933C24;
    color: white;
    width:180px ;
    font-size: 30px;
    padding: 8px;
    border-radius: 10px;
}
.h_bottoms button:last-child{
    background: none;
    color: white;
    width:180px ;
    font-size: 20px;
    padding: 8px;
    border: none;
}
.Products{
    height: 200px;
    /* background-color: red; */
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: 800;
    font-family: 'Sansita Swashed';
}
.cards_container{
    display: grid;
    grid-template-columns:repeat(3,360px);
    /* background-color: #2196F3; */
    justify-content: center;
    gap: 20px;
    font-family:'Inter';
}
.cards_container >div{
    width: 360px;
    height: 411px;
    background-image: url("../bakery website pictures/top products pictures/background/Rectangle 69.png");
    /* border: blue 3px solid; */
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.cards_container img {
    max-width: 226px;
    text-align: center;
    
}
.img_container{
    text-align: center;
}
.price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    font-size: 25px;
}
.Add{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    font-size: 25px;
}
.Add p{
    width: 150px;
}
.Add button{
    width: 71px;
    height: 49px;
    color: white;
    background-color: #933C24;
    font-size: 17px;
    font-weight: 500;
}

.first-order{
    margin-top: 120px;
    height: 442px;
    background-image: url('../bakery website pictures/first order picture/Rectangle 45.png');
    background-repeat: no-repeat;
    background-size: cover; /* Ensures the image covers the entire header */
    background-position: center; /* Centers the image */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0 70px 0;
}
.first-order h2{
    font-size: 50px;
    width: 300px;
    font-family: 'Sansita Swashed';
    color: #933C24;
}
.first-order p{
    font-size: 24px;
    width: 343px;
    font-family: 'Inter';
    text-align: center;
    font-weight:400;
    color: #5D5D5D;
}
.first-order button{
    font-size: 17px;
    width: 202px;
    font-family: 'Inter';
    height: 63px;
    background-color: #933C24;
    color: white;
    border-radius: 10px;
}
.Explore{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1101px;
    align-items: center;
    padding: 0 50px;

}
.Explore h2{
    font-size: 64px;
    font-family: 'Sansita Swashed';

}
.Explore .container-of-img{
/* background-color: aqua; */
display: flex;
flex-wrap: wrap;
gap: 20px;
justify-content: center;
max-width: 1200px;
margin-top: 100px;

}
.Explore .bottoms{
/* background-color: rgb(207, 84, 27); */
display: flex;
width: 100%;
justify-content: center;
gap: 20px;
font-size: 24px;
color: #5D5D5D;
border-bottom: 1px rgba(0, 0, 0, 0.189) solid;
font-family: 'Poppins';
}
.bottoms .first-child{
    border-bottom: solid red 1px;
}

.about-us{
    margin-top: 120px;
    height: 442px;
    background-image: url('../bakery website pictures/about us picture/Rectangle 41.png');
    background-repeat: no-repeat;
    background-size: cover; /* Ensures the image covers the entire header */
    background-position: center; /* Centers the image */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0 70px 0;
}
.about-us h2{
    font-size: 50px;
    font-family: 'Sansita Swashed';
    color: #933C24;
}
.about-us p{
    font-size: 24px;
    width: 320px;
    font-family: 'Inter';
    text-align: center;
    font-weight:400;
    color: #B9B9B9;
}
.about-us button{
    font-size: 24px;
    width: 202px;
    font-family: 'Inter';
    height: 63px;
    background-color: #933C24;
    color: white;
    border-radius: 10px;
}
.Featured{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}
.Featured h2{
    font-size: 64px;
    font-family: 'Sansita Swashed';
}
.Featured .container-of-img{
    display: flex;
    gap: 17px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    padding-top: 100px;
}
footer{
    background-image: url("../bakery website pictures/footer background/Rectangle 75.png");
    background-repeat: no-repeat;
    background-size: cover; /* Ensures the image covers the entire header */
    background-position: center; /* Centers the image */
    /* height: 6px; */
    padding: 50px;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins';
    margin-top: 100px;
}
footer .Follow {
    color:#E9BD8D;
    font-size: 24px;
    font-family: 'inter';
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px rgba(233, 190, 140, 0.2);
}
footer .Follow .icons{
    display: flex;
    width: 400px;
    justify-content: space-between;
    align-items: center;
}
footer .Follow .icons img{
    max-width: 42px;
}
footer p{
    color: #fff;
}
footer h3{
    color: #E9BD8C;
    font-size: 36px;
}
.f-about{
    display: flex;
    /* justify-content: center; */
}
.f-about>div{
    width: 33.333%;
    color: #E9BD8D;
    display: flex;
    flex-direction: column;
    gap: 14px;
    font-size: 24px;
    margin-top: 50px;
}
footer .Recent{
    display: flex;
    gap: 10px;
}
footer .Recent img{
    max-width: 90px;
    max-height: 50px;
}
footer span{
    font-size: 18px;
}
footer .c2024{
    text-align: center;
    margin-top: 50px;
    font-size: 24px;
    font-family: 'inter';
    color: #737373;
}
.Contact{
    /* background-color: aqua; */
    font-family: 'Poppins';
    display: flex;
    height: 700px;
    justify-content: space-between;
    max-width: 1600px;
}
.Contact .container-of-contact{
    /* background-color: #933C24; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 30px;
}
.Contact .email-pone-map{
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: space-between;
}
.Contact .email-pone-map i{
    display: flex;
    gap: 10px;
    font-size: 20px;
    align-items: center;
}
.c-us{
    font-size: 46px;
    text-align: center;
    margin: 40px 0;
    color: #F19631;
    font-family: 'Poppins';

}
.container-of-contact p:first-of-type{
    font-size: 48px;
    width: 400px;
    font-weight: bold;

}
.container-of-contact div:last-of-type{
    /* font-size: 48px; */
    display: flex;
    justify-content: space-between;
    width: 200px;
}
.selected{
    background-color: hsla(32, 87%, 57%, 0.3);
    width: 320px;
    height: 50px;
    border: solid #F19631 3px;
    border-radius: 16px;
    color: white;

}
.container-of-form{
    background-color: #EEEEEE;
    padding: 0 30px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.container-of-form >p{
    font-size: 20px;
}
.container-of-form div button{
    font-size: 20px;
    width: 160px;
    height: 55px;
    border: solid 1.5px #2e024958;
    border-radius: 10px;
    color: #09060b3f;

}
.container-of-form >div{
    display: flex;
    max-width: 600px;
    flex-wrap: wrap;
    gap: 15px;
}
.container-of-form form{
    height: 250px;
    display: flex;
    flex-direction: column;
}
.container-of-form form input{
    height: 80px;
    border: none;
    padding-top: 50px;
    border-bottom: 2px solid hsla(277, 95%, 15%, 0.221);
    background:none;
    font-size: medium;
}
.container-of-form .selected-input{
    border-bottom: 2px solid #F19631;
    color: black;
}
.container-of-form .selected-bottom{
    background-color: #F19631;
    border: none;
    color: white;
}
.send-bottom{
    background-color: #F19631;
    width: 300px;
    font-size: 20px;
    height: 55px;
    border: solid 1.5px #2e024958;
    border-radius: 10px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.fa-solid.fa-solid{
    font-size: 29px;
     color: rgb(243, 9, 9);
      display: none;
}

@media screen and (max-width: 1220px) {
    .cards_container{
        grid-template-columns:repeat(2,360px);
    }
    .Explore{
        height: 1400px;
    }
  }
  @media screen and (max-width: 840px) {
    .Explore{
        height: 2500px;
    }
    .Contact{
        flex-wrap: wrap;
        height: 1200px;
        justify-content: center;

    }
    .Contact .container-of-contact div:last-of-type{
        display: none;
    }
    .Contact .container-of-contact{
        height: 500px;
    }
    .cards_container{
        grid-template-columns:repeat(2,300px);
    }
    .cards_container >div{
        width: 300px;
        height: 400px;
    }
    .f-about{
        flex-direction: column;
        padding-left: 25px;
    }
    nav{
        gap: 10px;
    }
  }
  @media screen and (max-width: 620px) {
    .cards_container{
        grid-template-columns:repeat(1,360px);
    }
    .cards_container >div{
        width: 360px;
        height: 411px;
    }
    .container{
        padding-left: 15px;
    }
    .Explore .bottoms{
        flex-wrap: wrap;
    }
    header p:last-of-type{
        font-size: 40px;
        width: 300px;
    }
    nav{
        gap: 10px;
        width: 90%;
    }
  }
  @media screen and (max-width: 470px) {
    .nav_liks{
        display: none;
    }
    .cards_container{
        grid-template-columns:repeat(1,300px);
    }
    .cards_container >div{
        width: 300px;
        height: 400px;
    }
    .container-of-contact p:first-of-type {
        width: 95vw;
        font-size: 40px;
        padding: 0;
    }
    .Contact .container-of-contact{
        padding: 0;
    }
    .container-of-form{
        padding: 0;
    }
    .fa-solid.fa-solid{
        display: block;
    }
    nav i:last-of-type{
        display: flex !important;
        align-items: center;
    }
    nav{
        justify-content: space-between;
        padding-right: 10px;
    }
  }

  /* ................................ */ 
.cnavLinks{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100px;
    background-color: #933c2400;
    height: 300px;
    width: 100%;
    left: 0;
    backdrop-filter: blur(2px);
    transition: 3s all;
}
